.Cart {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10em;
  min-height: 70vh;
}

.Cart-total {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}
