.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  color: white;
  padding: 1em;
}

.NavBar-brand {
  color: white;
}

.NavBar-list {
  display: flex;
}

.NavBar-list-item {
  margin-right: 1em;
  color: white;
}
