.Footer {
  background: #1d1d1b;
  color: white;
  padding: 2em;
}

.Footer-header {
  font-size: 1.6rem;
  text-align: center;
}

.Footer-icon {
  padding-right: 0.6em;
}

.Footer-icon-text {
  display: flex;
  align-items: center;
}

.Footer-icon-box {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-copyright {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}

.Footer-copyright-text {
  display: flex;
  align-items: center;
}
